<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/fragments :: page-head('Movies')}"></head>


<body>
    <th:block th:replace="~{fragments/fragments :: navbar(Lucrezia)}"></th:block>

    <th:block th:replace="~{fragments/fragments :: hero(
        'Welcome to best Movies of the Year',
        'Discover the best movies of the year, handpicked for you!'
    )}"></th:block>

    <th:block th:replace="~{fragments/fragments :: list(
        'Top Movies',
        ${movies},
        '/movies'
    )}"></th:block>

    <div th:replace="~{fragments/fragments :: scripts}"></div>

</body>

</html>